///// Text Color
// .txt-primary {
//   color: $primary;
// }

// .txt-secondary {
//   color: $secondary;
// }

.txt-white {
  color: white;
}

.txt-gray-light {
  color: $gray-light;
}

.txt-gray {
  color: $gray;
}

.txt-gray-dark {
  color: $gray-dark;
}

// // Gray on dark bg
// .txt-gray-ondark {
//   color: $gray-ondark;
// }

// .txt-gray-light-ondark {
//   color: $gray-light-ondark;
// }

// .txt-gray-dark-ondark {
//   color: $gray-dark-ondark;
// }

// .txt-green {
//   color: $green;
// }

// .txt-yellow {
//   color: $yellow;
// }

// .txt-red {
//   color: $red;
// }



///// Background Color
// .bg-white {
//   background-color: $white;
// }

// .bg-gray-lightest {
//   background-color: $bg-gray-lightest;
// }

// .bg-gray-lighter {
//   background-color: $bg-gray-lighter;
// }

// .bg-gray-light {
//   background-color: $bg-gray-light;
// }

// .bg-gray {
//   background-color: $bg-gray;
// }

// .bg-gray-dark {
//   background-color: $bg-gray-dark;
// }

// .bg-gray-darker {
//   background-color: $bg-gray-darker;
// }

// .bg-gray-darkest {
//   background-color: $bg-gray-darkest;
// }
